
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #2563eb;
    --text-color: #1f2937;
    --background-color: #f3f4f6;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}


header {
    background-color: white;
    padding: 25px;
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    font-size: 32px;
}



main {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

