

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #2563eb;
    --text-color: #1f2937;
    --background-color: #f9fafb;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}



header {
    background-color: white;
    padding: 20px;
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    font-size: 32px;
}



main {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

section {
    margin-bottom: 40px;
}



h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
}



ul {
    list-style: none;
}

li {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
}

dt {
    font-weight: bold;
    margin-bottom: 5px;
}

dd {
    margin-left: 0;
    font-size: 15px;
}


a {
    display: inline-block;
    text-decoration: none;
    background-color: var(--primary-color);
    color: white;
    padding: 10px 18px;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #1d4ed8;
}


section:last-child {
    text-align: center;
}
